@use 'mixins';
@use 'variables';
@use 'sass:map';

.about {
    padding-top: 30px;
    padding-bottom: 30px;
}

.about-us {
    display: grid;
    gap: 10px;
}

.acive-title {
    @include mixins.titleColor;
}

.about-us__left {
    display: flex;
    overflow: auto;
    gap: 30px;
    padding-bottom: 20px;
}


.about-us__left-link {
    flex-shrink: 0;
    font-size: 30px;
    color: map-get(variables.$colors, title);
}


.about-us__left-link:first-child {
    padding-left: 30px;
}

.about-us__left-link:last-child {
    padding-right: 30px;
}


.about-us__right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 34px;
    
    &-title {
        font-size: 20px;
    }
    &-text {
        font-size: 19px;
        line-height: 30px;
        font-weight: 400;
    }

}
.about-us__right::before{
    @include mixins.absolute(30px,30px);
    @include mixins.beforeAfter(4px);
    top: 0;
    background-color: rgba(255, 255, 255, 0.30);
}

@media (min-width: 768px) {
    .about {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .about-us {
        gap: 40px;
    }

    .about-us__left-link:first-child {
        padding-left: 60px;
    }

    .about-us__left-link:last-child {
        padding-right: 60px;
    }
    .about-us__left-link:hover {
        @include mixins.titleColor;
    }
    .about-us__right {
        padding-right: 60px;
        padding-left: 60px;
        padding-top: 64px;
    }

    .about-us__right::before{
        @include mixins.absolute(60px,60px);
    }
}

@media (min-width: 1024px) {

    .about {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .wrapper-about {
        padding-right: 60px;
        padding-left: 60px;
    }

    .about-us__right::before{
        display: none;
    }

    .about-us {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 60px;
    }

    .about-us__left {
        flex-direction: column;
        overflow: hidden;
        align-items: flex-end;
        border-right: 4px solid rgba(255, 255, 255, 0.30);
        padding-right: 60px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .about-us__left-link:first-child {
        padding-left: 0;
    }

    .about-us__left-link:last-child {
        padding-right: 0;
    }

    .about-us__right {
        padding: 0;
    }
}


@media (min-width: 1440px) {
    .wrapper-about {
        padding-right: 180px;
        padding-left: 180px;
    }
}

@media (min-width: 1920px) {
    .wrapper-about {
        padding-left: 0;
        padding-right: 0;
        max-width: 1360px;
        margin-right: auto;
        margin-left: auto;
    }

    .about-us {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .about-us__right {
        grid-column: 2 / -1;
    }
}