@use 'mixins';
@use 'variables';
@use 'sass:map';

.article{
    padding-top: 30px;
    padding-bottom: 30px;
}
.article-wrapper {
    padding-right: 30px;
    padding-left: 30px;
}

.article-content {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__img img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 3/2.5;
        border-radius: 12px;
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-bottom: 30px;
        border-bottom: 4px solid map-get(variables.$colors, separator);

        &-title {
            color: #323264;
            font-size: 20px;
        }

        &-date {
            color: map-get(variables.$colors, title);
            font-size: 12px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        &-subtitle{
            font-size: 16px;
            color: #323264;
        }
        &-text{
            font-size: 16px;
            color: #000;
            font-weight: 400;
            line-height: 26px;
        }
    }

    &__text {
        font-size: 16px;
        color: #000;
        font-weight: 400;
        line-height: 26px;
    }

    &__subtitle {
        margin: 0;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 15px;

        &-title {
            font-size: 18px;
            color: #46466E;
            line-height: 26px;
        }

        &-items {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        &-item {
            font-size: 18px;
            color: #000;
            font-weight: 400;
            line-height: 26px;

            &-number {
                color: map-get(variables.$colors, hover);
                font-size: 18px;
                font-weight: 700;
                line-height: 26px;
                margin-right: 10px;
            }
        }
    }

    &__ads {
        &-text {
            font-size: 14px;
            color: map-get(variables.$colors, title);
            font-weight: 400;
            line-height: 22px;
        }

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 2/1;
        }
    }
    &__icons{
        display: flex;
        gap: 10px;
        &-item{
            padding: 7px;
            background-color: map-get(variables.$colors, bgColor);
            border-radius: 12px;
            &:hover{
                background-color: #EDEDF7;
            }
        }
    }
}

@media (min-width: 768px) {
    .article-wrapper {
        padding-right: 60px;
        padding-left: 60px;
    }
    .article-content{
        &__img img {
            aspect-ratio: 6.5/5;
        }
        &__ads{
            max-width: 640px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
@media (min-width: 1024px) {
    .article-content{
        &__img img {
            aspect-ratio: 9/5;
        }
    }
}

@media (min-width: 1440px) {
    .article-wrapper {
        padding-right: 180px;
        padding-left: 180px;
    }
    .article-content{
        &__img img {
            aspect-ratio: 2/1;
        }
    }
}

@media (min-width: 1920px) {
    .article-wrapper {
        max-width: 1360px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 0;
        padding-left: 0;
    }
    .article-content{
        &__img img {
            aspect-ratio: 13.5/5;
        }
    }
}