@use 'mixins';
@use 'variables';
@use 'sass:map';

.contacts {
    &__address {
        font-weight: 400;
        color: map-get(variables.$colors, title);
    }

    &__phone {
        color: map-get(variables.$colors, text);
    }

    &__icon {
        width: 24px;
        height: 24px;
        &:hover path{
            fill: #F0145A;
        }
    }
    &__icon svg{
        width: 100%;
        height: 100%;
    }
    &__map-link{
        color: map-get(variables.$colors, subtitle);
    }
    &__mail{
        color: map-get(variables.$colors, subtitle);
        &:hover{
            color: #F0145A;
        }
    }
    &__separator {
        background-color: #E6E6F0;
        border-radius: 50%;
        width: 6px;
        height: 6px;
    }
}