@use 'mixins';
@use 'variables';
@use 'sass:map';

.footer {
    background-color: map-get(variables.$colors, bgColor);
    padding: 30px;

    &-content {
        display: flex;
        flex-direction: column;
        gap: 21px;
        border-top: 2px solid map-get(variables.$colors, separator);
        padding-top: 30px;
        padding-bottom: 30px;
        &__wrapper{
            position: relative;
        }
        &__copyright {
            text-align: center;
            color: map-get(variables.$colors, title);
            font-weight: 400;
        }
    }

    &-address-block {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        &__separator {
            display: none;
        }

        &__phone {
            color: #46466E;
        }

        &__icon {
            display: block;
            width: 38px;
            height: 38px;

            svg path {
                fill: map-get(variables.$colors, subtitle);
            }
        }
    }


}

@media(min-width:768px) {
    .footer {
        &-address-block {
            flex-direction: row;
            &__separator {
                display: block;
                background-color: map-get(variables.$colors, title);
            }
        }
    }
}

.footer-content__copyright{
    position: absolute;
    top:0;
    right: 0;
}