@use 'mixins';
@use 'variables';
@use 'sass:map';

.footer {
    background-color: map-get(variables.$colors, bgColor);
    padding-top: 30px;
    padding-bottom: 30px;

    &-content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        &__item{
            display: flex;
            flex-direction: column;
            gap: 21px;
            padding-top: 30px;
            border-top: 2px solid #E6E6F0;
        }

        &__copyright {
            color: map-get(variables.$colors, title);
            text-align: center;
            font-size: 16px;
            font-weight: 400;
        }
    }

    &-address-block {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        &__separator {
            display: none;
        }

        &__icon {
            height: 38px;
            width: 38px;

            svg path {
                fill: map-get(variables.$colors, subtitle);
            }
        }

        &__phone {
            color: #46466E;
        }
    }
}

@media(min-width:768px) {
    .footer {
        &-address-block {
            flex-direction: row;
            justify-content: start;
            &__separator {
                display: block;
                background-color: map-get(variables.$colors, title);
            }
        }
    }

}

@media(min-width:1024px){
    .footer{
        &-content {
            position: relative;
            &__copyright {
                position: absolute;
                top: 30px;
                right: 0;
            }
        }
    }

}