
@use 'mixins';
@use 'variables';
@use 'sass:map';

*{
    box-sizing: border-box;
}
body{
    color: map.get(variables.$colors, 'text');
    @include mixins.bodyColor;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin: 0;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

.wrapper {
    padding-right: 30px;
    padding-left: 30px;
}

@media (min-width: 768px){
    .wrapper {
        padding-right: 60px;
        padding-left: 60px;
    }
}
@media (min-width: 1920px) {
    .wrapper {
        max-width: 1600px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 0;
        padding-left: 0;
    }
}
