@use 'mixins';
@use 'variables';
@use 'sass:map';
@use 'address-block';
@use 'hlegal';



.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
    &-scroll{
        background-color: #323264;
    }
    &-bgcolor {
        background-color: rgba(245, 245, 250, 0.20);
    }

    &__contacts-block {
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
    }

    &__menu-block {
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
    }

    &-address-block {
        &__separator {
            display: none;
        }

        &__address {
            display: none;
        }

        &__icon {
            display: none;
        }
    }
}

.logo-content {
    display: flex;
    align-items: center;
    gap: 4px;

    &__icon {
        width: 70px;
        height: 32px;

        svg {
            height: 100%;
            width: 100%;
        }
    }

    &__slash {
        width: 12px;
        height: 26px;

        svg {
            height: 100%;
            width: 100%;
        }
    }

    &__current-page {
        font-size: 20px;
        font-weight: 400;
    }
}

.menu {
    display: none;
}

.popup-btn {
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    @include mixins.backgroundImg('../images/header/popup-btn.svg');

    &--active {
        background-image: url(../images/header/popup-btn-active.svg);
    }
}


.lang-menu {
    display: flex;

    &__item {
        padding: 5px 7px;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border-radius: 8px;
        position: relative;
        z-index: 15;

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }

        &--active {
            background-color: map-get(variables.$colors, hover);

        }
    }
}


@media(min-width:768px) {
    .header {
        padding-top: 50px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 30px;

        &-item {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        &-bgcolor {
            background-color: transparent;
        }

        &__contacts-block {
            padding: 0;
            justify-content: start;
            align-items: center;
            gap: 6px;
        }

        &-address-block {
            display: flex;
            align-items: center;
            gap: 6px;

            &__separator {
                display: block;
            }

            &__address {
                display: block;
            }

            &__icon {
                display: block;
                width: 24px;
                height: 24px;

            }
        }

        &__menu-block {
            padding: 0;
            flex-direction: column;
            gap: 30px;
        }
    }

    .logo-content {
        &__slash {
            display: none;
        }

        &__current-page {
            display: none;
        }

        &__icon {
            width: 130px;
            height: 60px;
        }
    }

    .popup-btn {
        display: none;
    }

    .menu {
        display: flex;
        gap: 15px;

        &__item {
            border-bottom: 2px solid transparent;

            &--active {
                color: map-get(variables.$colors, hover) !important;
                border-color: map-get(variables.$colors, hover) !important;
            }

            &:hover {
                border-color: map-get(variables.$colors, text);
            }
        }
    }
}

@media(min-width:1024px) {
    .header {
        &-item {
            position: relative;
        }

        &__contacts-block {
            justify-content: end;
        }

        &__menu-block {
            gap: 0;
        }

        .logo-content {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .menu {
        justify-content: end;
    }
}

@media (min-width: 1920px) {
    .header-wrapper {
        max-width: 1600px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 0;
        padding-left: 0;
    }
}