@use 'mixins';
@use 'variables';
@use 'sass:map';


.team-content{
    background-color: map.get(variables.$colors, 'text');;
}

.team {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 12px;
        &-img__item {
            display: block;
            width: 100%;
        }
}

.team-info {
    padding: 30px;
    background-color: map-get(variables.$colors, bgColor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-right-radius: 12px;
}

.team-text {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    color: map-get(variables.$colors, title);

    span {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }
}

.team-slider {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 15px;

    &__item {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: map-get(variables.$colors, subtitle);
        opacity: 0.2;

        &-active {
            opacity: 1;
        }
    }
}

@media (min-width:768px) {
    .team {
        flex-direction: row;
    }
    .team-img__item{
        height: 100%;
    }
}
