@use 'mixins';
@use 'variables';
@use 'sass:map';


.team-content {
    background-color: map.get(variables.$colors, 'text');
    padding-top: 90px;
}

.team {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
    @include mixins.borderRadius(bottom, left);
    @include mixins.borderRadius(bottom, right);

    &-img img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.team-info {
    padding: 30px;
    background-color: map-get(variables.$colors, bgColor);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.team-text {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    color: map-get(variables.$colors, title);

    span {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }
}

.team-slider {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 15px;

    &__item {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: map-get(variables.$colors, subtitle);
        opacity: 0.2;

        &-active {
            opacity: 1;
        }
    }
}

@media (min-width:768px) {
    .team {
       
        &-img img {
            aspect-ratio: 6/5;
            @include mixins.borderRadius(top, left);
            @include mixins.borderRadius(top, right);
        }
    }
}

@media (min-width:1024px) {
    .team {
        grid-template-columns: 1fr 1fr;

        &-img img {
            aspect-ratio: 5/4;
            border-top-right-radius:0 ;
        }
        &-info{
            @include mixins.borderRadius(top, right);
        }
    }
}

@media (min-width:1440px) {
    .team {
        grid-template-columns: repeat(3, 1fr);

        &-info {
            grid-column: 2/-1;
        }

        &-img img {
            aspect-ratio: 3/2;
        }
    }
}

@media (min-width:1920px) {
    .team {
        grid-template-columns: repeat(4, 1fr);

        &-info {
            grid-column: 2/-1;
        }
        &-img img {
            aspect-ratio: 4/3;
        }
    }
}